.deepl_plugin a {
    color: var(--text-link);
}

.deepl_plugin input {
    align-self: normal;
    flex: 1;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 100ms ease-out;
}

.deepl_plugin input:focus {
    padding-left: 5px;
    background-color: var(--overlay_active);
}

/* 浅色模式 */
@media (prefers-color-scheme: light) {
    .deepl_plugin input {
        color: black;
    }
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
    .deepl_plugin input {
        color: white;
    }
}